.column-container {
  padding: 48px;
}
h1 {
  text-transform: uppercase;
  font-family: var(--secondary-font);
  color: var(--very-light-gray);
  font-weight: 700;
}
p {
  color: var(--transparent-white-paragraphs);
  font-family: var(--primary-font);
  font-size: var(--font-size);
  line-height: 1.5;
}
button {
  font-family: var(--primary-font);
  font-size: var(--font-size);
  background-color: var(--very-light-gray);
  padding: 16px 24px;
  border-radius: 32px;
  border: none;
  cursor: pointer;
}
button:active {
  border: 1px solid var(--very-light-gray);
}

@media (min-width: 767px) {
    .column-container{
        max-width:225px;
    }
    p{
        margin-bottom:60px;
    }
}
