@font-face {
  font-family: "Big Shoulders Display";
  src: url("./assets/fonts/Big_Shoulders_Display/BigShouldersDisplay-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Lexend Deca";
  src: url("./assets/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf");
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
